body{
    background-image: url(../img/login.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
}

.judul{
    margin-top: 50px;
    padding-bottom: 50px;
    color: white;
}

.kotak{
    padding: 20px;
    margin-bottom: 100px;
    height: fit-content;
    border-radius: 20px;
    background-color: rgba(137, 43, 226, 0);
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    box-shadow: 0 0 20px rgba(255, 255, 255, .5);
    backdrop-filter: blur(5px);
    color: white;
}

@media screen and (max-width: 999px){
    body{
        background-image: url(../img/login.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 200%;
        background-attachment: fixed;
    }
}


input,select{
    color: white;
    font-weight: 600;
    background-color: rgba(100, 148, 237, 0.5);
    text-align: center;
}

input:hover{
    border: lightgreen solid 2px;
}

button.btn.btn-primary{
    margin: 20px;
}
footer{
    height: 70px;
    width: 100%;
    background-color: grey;
    color: white;
    font-weight: 600;
    position: absolute;
    bottom: 0px;
    line-height: 70px;
}
