body{
    width: 100%;
    background-image: url(../img/bgbody.jpg);
    background-attachment: fixed;
    background-size: cover;
}

@media screen and (max-width: 999px){
    /* bagian Jumbotron */
    .jumbotron{
        height: 420px;
        background-image: url(../img/back1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 180%;
        color: white;
        font-weight: 600;
        margin-bottom: 0px;
        animation: jumbotronanim 20s infinite ease-in-out;
    }
    @keyframes jumbotronanim{
        0%{
            background-image: url(../img/back1.jpg);
            background-size: 180%;
        }50%{
            background-image: url(../img/back1.jpg);
            background-size: 220%;
        }51%{
            background-image: url(../img/back2.jpg);
            background-size: 180%;
        }100%{
            background-image: url(../img/back2.jpg);
            background-size: 220%;
        }
    }
    .jumbotron img{
        width: 200px;
        animation: img 20s infinite ease-in-out;
    }

    h1.judul{
        font-size: 36px;
    }

    .jumbotron h2.tulisan{
        margin-bottom: 40px;
    }

    .jumbotron i{
        height: 12px;
        color: white;
    }

    .col-xs-3{
        border: solid 2px yellowgreen;
        background-color: rgba(0, 128, 0, 0.5);
    }

    .jumbotron img{
        width: 100px;
    }

    h2.tulisan::before{
        content: "";
        font-weight: 600;
        color: white;
        animation: anim infinite 20s ease-in-out;
        font-size: 14px;
    }

}

@media screen and (min-width : 1000px){
    .jumbotron{
        /* background-image: url(../img/back1.jpg); */
        height: 700px;
        background-position: center;
        background-size: cover;
        margin-bottom: 0px;
        color: white;
        animation: jumbotronanim 20s infinite ease-in-out;
        padding-top: 50px;
    }
    @keyframes jumbotronanim{
        0%{
            background-image: url(../img/back1.jpg);
            background-size: 100%;
        }50%{
            background-image: url(../img/back1.jpg);
            background-size: 120%;
        }51%{
            background-image: url(../img/back2.jpg);
            background-size: 100%;
        }100%{
            background-image: url(../img/back2.jpg);
            background-size: 120%;
        }
    }

    i{
        margin-bottom: 50px;
    }

    .jumbotron div div.row{
        margin-top: 50px;
    }
    
    .jumbotron img{
        width: 200px;
        animation: img 20s infinite ease-in-out;
    }

    .col-xs-3{
        border: solid 2px yellowgreen;
        background-color: rgba(0, 128, 0, 0.5);
    }

    h2.tulisan::before{
        content: "";
        font-weight: 600;
        color: white;
        animation: anim infinite 20s ease-in-out;
        font-size: 18px;
    }
}

#about{
    background-color: white;
}

.paragraf{
    padding: 10px;
}

p.bahasa{
    font-weight: bold;
}
hr{
    width: 200px;
    border-top: 1px solid black;
}
@keyframes img{
    0%{
        transform:scale(0.5,0.5);
        opacity: 0;
    }10%{
        transform:scale(1,1);
        opacity: 1;
    }50%{
        transform:scale(1,1);
        opacity: 1;
    }51%{
        transform:scale(0.5,0.5);
        opacity: 0;
    }60%{
        transform:scale(1,1);
        opacity: 1;
    }100%{
        transform:scale(1,1);
        opacity: 1;
    }
}

@keyframes anim{
    0%{
        content: "Take Out Whats On Your Mind Without Saying A Word";
        opacity: 0;
    }10%{
        content: "Take Out Whats On Your Mind Without Saying A Word";
        opacity: 1;
    }50%{
        content: "Take Out Whats On Your Mind Without Saying A Word";
        opacity: 1;
    }51%{
        content: "Make Things That Can Inspire People";
        opacity: 0;
    }60%{
        content: "Make Things That Can Inspire People";
        opacity: 1;
    }100%{
        content: "Make Things That Can Inspire People";
        opacity: 1;
    }
}

a div{
    font-weight: 600;
    color: white;
    transform: scale(1,1);
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

a div:hover{
    transform: scale(1.2,1.2);
    animation: hoveranim 2s infinite ease-in-out;
}